{% extends 'superhero_theme.html' %}
<link rel="stylesheet" href="custom.css">
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="display-4 text-center">{{ title }}</h1>
      <p class="lead text-center">My name is {{ id }}</p>

      <h2>Strengths</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ strength1 }}</li>
        <li class="list-group-item">{{ strength2 }}</li>
      </ul>

      <h2>Weaknesses</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ weakness1 }}</li>
        <li class="list-group-item">{{ weakness2 }}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="{{ image }}" alt="{{ image }}" class="img-fluid rounded">
    </div>
  </div>

  <p class="text-center mt-3"><a href="home" class="btn btn-primary">Home</a></p>
</div>
{% endblock %}